@use '../sass/abstracts/mixins'; 
@use '../sass/abstracts/vars'; 

.footer{
    background-color: vars.$color_primary;
    padding-top: 1rem; 
    padding-bottom: 1rem; 
    font-family: Arial;
    h1{
        font-size: 1.5rem; 
        font-family: Arial;
    }
}
